extends ../partials/base.pug

block content
  .popup#popup
    .popup__content
      .popup__left
        img.popup__img(src="../../assets/img/nat-8.jpg", alt="Tour photo")
        img.popup__img(src="../../assets/img/nat-9.jpg", alt="Tour photo")

      .popup__right
        a.popup__close(href="#section-tours") &times;
        h2.heading-secondary.u-margin-bottom-medium Start booking now
        h3.heading-tertiary.u-margin-bottom-small
          | Important &ndash; Please read these terms carefully before booking
        p.popup__text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          | eiusmod tempor incididunt ut labore et dolore magna aliqua. Justo
          | donec enim diam vulputate ut pharetra sit. Maecenas sed enim ut
          | sem viverra aliquet. Sagittis vitae et leo duis ut diam quam nulla.
          | Consectetur lorem donec massa sapien. Porttitor massa id neque
          | aliquam vestibulum morbi blandit cursus risus. Lectus proin nibh
          | nisl condimentum id. Viverra vitae congue eu consequat ac felis.
        a.btn.btn--green(href="#") Book Now &rarr;

  section.section-about
    .u-center-text.u-margin-bottom-big
      h2.heading-secondary
        | Exciting tours for adventurous people

    .row
      .col-1-of-2
        h3.heading-tertiary.u-margin-bottom-small
          | You will fall in love with nature
        p.paragraph
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
          | laboriosam delectus excepturi quibusdam rerum vitae dolor illum
          | dolorum tempora sint molestias ducimus laborum culpa dicta commodi
          | obcaecati, asperiores sed temporibus!

        h3.heading-tertiary.u-margin-bottom-small
          | You will fall in love with nature
        p.paragraph
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
          | laboriosam delectus excepturi quibusdam rerum vitae dolor illum
          | dolorum tempora sint molestias ducimus laborum culpa dicta commodi
          | obcaecati, asperiores sed temporibus!

        a.btn-text(href="#") Learn more &rarr;

      .col-1-of-2
        .composition
          img.composition__photo.composition__photo--p1(
            src="../../assets/img/nat-1-large.jpg"
            alt="Photo 1"
          )
          img.composition__photo.composition__photo--p2(
            src="../../assets/img/nat-2-large.jpg"
            alt="Photo 2"
          )
          img.composition__photo.composition__photo--p3(
            src="../../assets/img/nat-3-large.jpg"
            alt="Photo 3"
          )

  section.section-features
    .row
      .col-1-of-4
        .feature-box
          i.icon-basic-world.feature-box__icon
          h3.heading-tertiary.u-margin-bottom-small Explore the world
          p.feature-box__text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit.
            | Cumque, et! Quidem sunt explicabo mollitia.

      .col-1-of-4
        .feature-box
          i.icon-basic-compass.feature-box__icon
          h3.heading-tertiary.u-margin-bottom-small Meet Nature
          p.feature-box__text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit.
            | Cumque, et! Quidem sunt explicabo mollitia.

      .col-1-of-4
        .feature-box
          i.icon-basic-map.feature-box__icon
          h3.heading-tertiary.u-margin-bottom-small Find Your Way
          p.feature-box__text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit.
            | Cumque, et! Quidem sunt explicabo mollitia.

      .col-1-of-4
        .feature-box
          i.icon-basic-heart.feature-box__icon
          h3.heading-tertiary.u-margin-bottom-small Live a Healthier Life
          p.feature-box__text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit.
            | Cumque, et! Quidem sunt explicabo mollitia.

  section.section-tours#section-tours
    .u-center-text.u-margin-bottom-big
      h2.heading-secondary Most Popular Tours
    .row
      .col-1-of-3
        .card
          .card__side.card__side--front
            .card__picture.card__picture--1
              | &nbsp;
            h4.card__heading
              span.card__heading-span.card__heading-span--1
                | The Sea Explorer
            .card__details
              ul
                li 3 day tours
                li Up to 30 people
                li 2 tour guides
                li Sleep in cozy hotels
                li Difficulty: Easy
          .card__side.card__side--back.card__side--back-1
            .card__cta
              .card__price-box
                .card__price-only Only
                .card__price-value $297
              a.btn.btn--white(href="#popup") Book Now

      .col-1-of-3
        .card
          .card__side.card__side--front
            .card__picture.card__picture--2
              | &nbsp;
            h4.card__heading
              span.card__heading-span.card__heading-span--2
                | The Forest Hiker
            .card__details
              ul
                li 7 day tours
                li Up to 40 people
                li 6 tour guides
                li Sleep in provided tents
                li Difficulty: Medium
          .card__side.card__side--back.card__side--back-2
            .card__cta
              .card__price-box
                .card__price-only Only
                .card__price-value $497
              a.btn.btn--white(href="#popup") Book Now

      .col-1-of-3
        .card
          .card__side.card__side--front
            .card__picture.card__picture--3
              | &nbsp;
            h4.card__heading
              span.card__heading-span.card__heading-span--3
                | The Snow Adventurer
            .card__details
              ul
                li 5 day tours
                li Up to 15 people
                li 3 tour guides
                li Sleep in provided tents
                li Difficulty: Hard
          .card__side.card__side--back.card__side--back-3
            .card__cta
              .card__price-box
                .card__price-only Only
                .card__price-value $897
              a.btn.btn--white(href="#popup") Book Now

    .u-center-text.u-margin-top-huge
      a.btn.btn--green(href="#") Discover all tours

  section.section-stories
    .bg-video
      video.bg-video__content(autoplay muted loop)
        source(src="../../assets/img/video.mp4" type="video/mp4")
        source(src="../../assets/img/video.webm" type="video/webm")
        | Your video cannot be played

    .u-center-text.u-margin-bottom-big
      h2.heading-secondary We Make People Genuinely Happy

    .row
      .story
        figure.story__shape
          img.story__img(src="../../assets/img/nat-8.jpg", alt="Person on a tour")
          figcaption.story__caption Mary Smith
        .story__text
          h3.heading-tertiary.u-margin-bottom-small I had the best week ever with my family
          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
            | laboriosam delectus excepturi quibusdam rerum vitae dolor illum
            | dolorum tempora sint molestias ducimus laborum culpa dicta commodi
            | obcaecati, asperiores sed temporibus!
            | Lorem ipsum dolor sit amet consectetur adipisicing elit.

    .row
      .story
        figure.story__shape
          img.story__img(src="../../assets/img/nat-9.jpg", alt="Person on a tour")
          figcaption.story__caption Jack Wilson
        .story__text
          h3.heading-tertiary.u-margin-bottom-small Wow! My life is completely different now
          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
            | laboriosam delectus excepturi quibusdam rerum vitae dolor illum
            | dolorum tempora sint molestias ducimus laborum culpa dicta commodi
            | obcaecati, asperiores sed temporibus!
            | Lorem ipsum dolor sit amet consectetur adipisicing elit.

    .u-center-text.u-margin-top-huge
      a.btn-text(href="#") Read all stories &rarr;

  section.section-book
    .row
      .book
        .book__form
          .u-margin-bottom-medium
            h2.heading-secondary
              | Start Booking Now

          form.form(action="#")
            .form__group
              input.form__input(
                id="name"
                type="text"
                placeholder="Full Name"
                required
                autocomplete="off"
              )
              label.form__label(for="name") Full Name

            .form__group
              input.form__input(
                id="email"
                type="email"
                placeholder="Email Address"
                required
                autocomplete="off"
              )
              label.form__label(for="email") Email Address

            .form__group.u-margin-bottom-medium
              .form__radio-group
                input.form__radio-input(type="radio" id="small" name="size")
                label.form__radio-label(for="small")
                  span.form__radio-button
                  | Small tour group
              .form__radio-group
                input.form__radio-input(type="radio" id="large" name="size")
                label.form__radio-label(for="large")
                  span.form__radio-button
                  | Large tour group

            .form__group
              button.btn.btn--green Next Step &rarr;
  //- include ../partials/grid.pug


